@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?7sv1ya');
    src:  url('fonts/icomoon.eot?7sv1ya#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?7sv1ya') format('truetype'),
      url('fonts/icomoon.woff?7sv1ya') format('woff'),
      url('fonts/icomoon.svg?7sv1ya#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    font-family: 'icomoon';
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    background: transparent;
}

body {
    font-family: "Microsoft YaHei";
    line-height: 1;
}

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 头部第一行 */

header {
    height: 177px;
}

.top-line {
    position: relative;
    height: 32px;
    background-color: #005faf;
}

.top-line li {
    display: inline;
}

.top-line a {
    font-size: 14px;
    color: #eeeeee;
    margin: 0 10px;
    line-height: 32px;
}

.left {
    float: left;
}

.icon-weibo,
.icon-wechat {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(img/social_icon.png);
    border-radius: 10px;
    vertical-align: middle;
}

.icon-wechat {
    /* 向左移动20px */
    background-position: -20px 0;
}

.qrcode {
    display: none;
    position: absolute;
    top: 43px;
    left: 60px;
    z-index: 1;
}

.qrcode img {
    height: 152px;
    width: 152px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
}

.qrcode div {
    position: absolute;
    top: -16px;
    left: 76px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #fff;
}

.right {
    float: right;
}

/* 头部第二行 */

.logo-search {
    height: 100px;
    background-image: linear-gradient(to bottom, rgb(245, 67, 67), rgba(244, 78, 78, 0.9),rgb(248,141,141),rgba(250, 190, 190, 0.57));
}

.logo-search img {
    height: 80px;
    padding: 10px 0 10px 10px;

}

.map {
    float: right;
    width: 810px;
    height: 100px;
    background: url(img/lianghui.png) no-repeat;
    background-size: 810px 100px;
}

.map > a {
    display: inline-block;
    width: 615px;
    height: 100px;
}

.search {
    position: relative;
    float: right;
    margin-top: 35px;
    margin-right: 10px;
}

.search input:first-child {
    float: left;
    width: 110px;
    height: 18px;
    border: 1px solid #b1b1b1;
    border-right: 0;
    padding: 5px;
    background-color: #fff;
}

.submit {
    width: 46px;
    height: 30px;
    border: none;
    cursor: pointer;
}

.search i {
    display: inline-block;
    position: absolute;
    right: 0;
    width: 46px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #006c9c;
    cursor: pointer;
}

/* 头部第三行 */

nav {
    height: 45px;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

nav ul {
    display: flex;
}

nav li {
    display: inline;
    flex: 1;
    text-align: center;
}

nav a {
    display: inline-block;
    height: 43px;
    line-height: 43px;
    color: #000;
    letter-spacing: 1px;
}

/* 轮播图 */

.swiper {
    position: relative;
    width: 1300px;
    height: 480px;
    margin: 0 auto;
    background-color: pink;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.prev {
    left: 30px;
}

.next {
    right: 30px;
}

.pagination {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
}

.pagination li {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #000;
    opacity: 0.2;
    margin: 0 5px;
}

.active {
    opacity: 1 !important;
    background-color: #007aff !important;
}

.description {
    position: absolute;
    bottom: 10%;
    left: 70px;
    padding: 14px 20px;
    font-size: 24px;
    font-weight: bold;
    line-height: 27px;
    color: #000;
    background-color: rgba(255, 255, 255, 0.6);
}

.more {
    position: absolute;
    bottom: 7%;
    right: 0;
    padding: 5px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.6);
}

.more a {
    color: #000;
}

/* section section-left section-right*/

.section {
    margin-top: 20px;
}

.section h1 {
    font-size: 20px;
    font-weight: normal;
    color: #000;
    letter-spacing: 1px;
    line-height: 42px;
    border-bottom: 2px solid #006c9c;
    margin-bottom: 15px;
}

.section h3 {
    float: right;
    font-weight: normal;
    line-height: 42px;
}

.section h3 a {
    font-size: 16px;
    color: #005aa0;
}

.section a:hover {
    color: #005aa0;
}

.section.section-left {
    float: left;
    width: 60%;
}

.section.section-right {
    float: left;
    width: 38%;
    margin-left: 2%;
}

/* 华电头条 */

.toutiao-pic {
    display: inline-block;
}

.toutiao-pic img {
    width: 300px;
    height: 220px;
}

.content {
    float: right;
    width: 405px;
}

.content .title {
    display: block;
    height: 60px;
    line-height: 30px;
    font-size: 18px;
}

.content .title a {
    color: #333;
}

.content .date {
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: right;
    color: #333;
    font-family: Georgia, sans-serif;
    padding-right: 10px;
}

.summary {
    display: block;
    height: 125px;
    font-size: 14px;
    line-height: 25px;
    color: #666666;
}

/* 学术活动 */

.notice li{
    border-bottom: 1px solid lightgray;
    line-height: 34px;
    margin-top: 11px;
}

.title {
    display: inline-block;
    width: 370px;
    font-size: 15px;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.title a {
    color: rgb(51, 51, 51);
}

.notice .date {
    float: right;
    font-size: 14px;
    line-height: 30px;
    columns: #333;
    font-family: Georgia, sans-serif;
}

/* 通知公告 */

.key-access {
    margin-top: 20px;
}

.list-tab {
    float: left;
    width: 163px;
}

.list-tab li {
    float: left;
    width: 80px;
    height: 80px;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.list-tab li:nth-child(-n+2) {
    border-top: 1px solid lightgray;
}

.list-tab i {
    display: block;
    text-align: center;
    color: #aaa;
    font-size: 32px;
    padding-top: 16px;
    padding-bottom: 12px;
}

.list-tab span {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #aaa;
}

.key-access > img {
    width: 293px;
    height: 163px;
}

.current i,
.current span {
    color: #fff;
}

.current {
    background: #006c9c;
}

/* 链接 */

.quick-link {
    margin-top: 20px;
}

.quick-link ul {
    display: flex;
}

.quick-link li:nth-child(1) {
    background-color: #58b530;
}

.quick-link li:nth-child(1):hover {
    flex: 1.4;
}

.quick-link li:nth-child(2) {
    background-color: #fabe10;
}

.quick-link li:nth-child(2):hover {
    flex: 1.4;
}

.quick-link li:nth-child(3) {
    background-color: #f18200;
}

.quick-link li:nth-child(3):hover {
    flex: 1.4;
}

.quick-link li:nth-child(4) {
    background-color: #dd2b37;
}

.quick-link li:nth-child(4):hover {
    flex: 1.4;
}

.quick-link li:nth-child(5) {
    background-color: #982a8b;
}

.quick-link li:nth-child(5):hover {
    flex: 1.4;
}

.quick-link li {
    flex: 1;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
}

.quick-link i {
    color: #fff;
    font-size: 20px;
}

.quick-link span {
    color: #fff;
    font-size: 18px;
    margin-left: 10px;
}

/* 尾部 */

footer {
    margin-top: 20px;
    height: 120px;
    padding: 15px 0;
    background-color: #1066B0;
}

.logo {
    float: left;
    border-left: 1px solid rgba(255, 255, 255, .2);
    padding: 11px 104px 12px 104px;
}

.copyright {
    float: left;
    width: 560px;
    padding: 0;
    text-indent: 120px;
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-right: 1px solid rgba(255, 255, 255, .2);
}

.copyright p {
    font-size: 13px;
    color: #ffffff;
    line-height: 24px;
}

.copyright a {
    color: #fff;
}

.share {
    float: left;
    width: 240px;
    padding: 0 39px;
    border-right: 1px solid rgba(255, 255, 255, .2);
}

.share li {
    float: left;
    width: 80px;
    height: 60px;
    text-align: center;
}

.share a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(img/share_icon.png);
    background-color: #fff;
    border-radius: 15px;
    margin-top: 15px;
}

.weibo:hover {
    background-position:0 -70px;
}

.moments {
    background-position: -35px 0;
}

.moments:hover {
    background-position: -35px -70px;
}

.qq {
    background-position: -70px 0;
}

.qq:hover {
    background-position: -70px -70px;
}

.tencent-weibo {
    background-position: 0 -35px;
}

.tencent-weibo:hover {
    background-position: 0 -105px;
}

.qzone {
    background-position: -35px -35px;
}

.qzone:hover {
    background-position: -35px -105px;
}

.renren {
    background-position: -70px -35px;
}

.renren:hover {
    background-position: -70px -105px;
}